extends layout

block content
  h1 Bienvenidos a la biografia de #{nombre} #{apellido}
  p  #{interes}
  p  #{hist}
  p  #{hist1}
  p  #{hist2}
  p  #{hist3}
  p  #{hist4}
  p  #{hist5}
  <iframe width="500" height="400" src="https://www.youtube.com/embed/LSvOTw8UH6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  p #{info}
  <img src="http://www.imagesyoulike.com/images/v/32x24/v2097.jpg" width="500" height="400" /></br>
  <img src="https://www.meteorologiaenred.com/wp-content/uploads/2017/01/cielo-estrellado-1024x683.jpg" width="500" height="400" /></br>
  <img src="https://cdn.tn.com.ar/sites/default/files/styles/1366x765/public/2018/07/25/perro.jpg" width="500" height="400"/></br>
  p #{info2}
  <a href="https://www.facebook.com/" >Comunicacion con amigos</a></br>
  <a href="https://www.youtube.com/" >Lugar de ocio</a></br>
  <a href="http://aulas.aprendiendoaprogramar.com/login/index.php">Trabajos y mas trabajos zZzZ</a></br>
  <a href="https://estudiantes.portaloas.udistrital.edu.co/appserv/">Inscripciones(Nunca sirve) :( </a></br>
  p #{info3}
 